<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>User Face Verification Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row-cols-2"></div>
            <div class="row-cols-8">
                <div class="row">
                    <!-- -------Start of Header--------- -->
                    <div class="myHeader text-center p-2">
                        <p class="text-white"><a href="../" class="text-decoration-none">ONLINE EXAM PROCTORING SYSTEM</a></p>
                    </div>
                    <!-- -------End of Header--------- -->

                    <!-- Start of body -->
                    <div class="myBody">
                        <!-- Taking Photo -->
                        <div class="p-5 text-center align-content-center">
                            <h1>Take Face Input</h1>
                            <p class="text-info">Please focus on camera</p>
                    <!-- Streaming video through webcam-->
                            <div class="camera">
                                <video id="video" playsinline autoplay></video>
                            </div>
                            <!-- Sending Image to django -->
                            <form action="face_verification" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="myField" name="user_image" value="" />
                                <button type="submit" id="snap">Capture</button>
                            </form>
                        </div>

                        <!-- Previewing Image -->
                        <div class="p-5 text-center align-content-center">
                            <canvas id="canvas" width="640" height="480"></canvas>
                        </div>
                    </div>
                    <!-- End of Body -->

                    <!--start of footer -->
                    <div>
                        
                    </div>
                    <!-- End of Footer -->

                </div>
            </div>
            <div class="row-cols-2"></div>
        </div>
    </div>


    <!-- js code for webcam and capturing images -->
    <script type="text/javascript">
		'use strict';
        const user_images=[];
		const video=document.getElementById('video');
		const canvas=document.getElementById('canvas');
		const snap=document.getElementById('snap');
		const errorMsgElement=document.getElementById('span#ErrorMsg');


		const constraints ={
			audio: false,
			video:{
				width:200, height: 200
			}
		};

		async function init(){
			try{
				const stream = await navigator.mediaDevices.getUserMedia(constraints);
				handleSuccess(stream);
			}
			catch(e){
				errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
			}
		}

		// Success
		function handleSuccess(stream){
			window.stream = stream;
			video.srcObject = stream;
		}

        // Load init
                init();

        // Draw image
        var context = canvas.getContext('2d');
		snap.addEventListener("click", function () {
			context.drawImage(video, 0, 0, 640, 480);
			var dataURL = canvas.toDataURL();
			document.getElementById('myField').value = dataURL;
		});

	</script>


<!--    Linking Js Code-->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
    <script src="{% static 'assets/js/myJs.js'%}"></script>
</body>
</html>
