{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User verification System</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/popper.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row-cols-2"></div>
            <div class="row-cols-8">
                <div class="row">
                    <!-- -------Start of Header--------- -->
                    <div class="myHeader text-center p-2">
                        <p class="text-white"><a href="../" class="text-decoration-none">ONLINE EXAM PROCTORING SYSTEM</a></p>
                    </div>
                    <!-- -------End of Header--------- -->

                    <!-- Start of body -->
                    <div class="myBody">
                        <div class="p-5 text-center align-content-center">
                            <a href="login"><button class="btn btn-lg btn-success">Login</button></a>
                            <a href="register"><button class="btn btn-lg btn-primary">Register</button></a>
                        </div>
                    </div>

                    <!-- End of Body -->

                    <!--start of footer -->
                    <div>
                        
                    </div>
                    <!-- End of Footer -->

                </div>
            </div>
            <div class="row-cols-2"></div>
        </div>
    </div>


<!--    Linking Js Code-->
    <script src="{% static '../bootstrap/js/bootstrap.bundle.js'%}"></script>
    <script src="{% static '../assets/js/myJs.js'%}"></script>
</body>
</html>
